/* L’utente indica un livello di difficoltà in base al quale viene generata una griglia di gioco quadrata, in cui ogni cella contiene un numero tra quelli compresi in un range (vedi immagine allegata):
con difficoltà 1 => tra 1 e 100
con difficoltà 2 => tra 1 e 81
con difficoltà 3 => tra 1 e 49
Quando l’utente clicca su ogni cella, la cella cliccata si colora di azzurro. */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    width: 50px;
    margin: 0 5px;
}

.right {
    display: flex;
    align-items: center;
}

button {
    margin: 0 20 0 5pxpx;
    padding: 2px 20px;
}

#difficulty {
    margin: 0 10px 0 5px;
    padding: 2px 30px 0px 0px;
}

main {
    background-color: #7fffd4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 20px;
}

